<ActionBar title="App Icon Demo" flat="true">

</ActionBar>
<ActionBar title="Simple Dialog" class="action-bar">
    <ActionItem (tap)="showDialog()" ios.systemIcon="9" ios.position="right"
        android.systemIcon="ic_menu_share"></ActionItem>
</ActionBar>
<ScrollView backgroundColor="#f9f9f9" orientation="vertical">
    <GridLayout class="page" [class.dialogOpen]="dialogOpen">
        <GridLayout class="content">
            <StackLayout>
                <StackLayout>
                    <Image src="~/images/image_pie_semicircledonut.png"
                        horizontalAlignment="center" marginTop="5"></Image>
                    <Label style="horizontal-align:center;" fontSize="80"
                        color="#000000" text="AWS EC2 "></Label>
                    <Label style="horizontal-align:center;" fontSize="15"
                        marginTop="5" color="#bab8b8" text="Start/stop/Terminate Instances or Start Custom to Instances"></Label>
                    <StackLayout style="horizontal-align:center;" orientation="horizontal">
                        <Label fontSize="10" margin="15" color="#000000" text="Instances"></Label>
                        <Label fontSize="10" borderRadius="100"
                            backgroundColor="#6dffda" padding="10" color="#000000"
                            [text]="Instancecount"></Label>
                    </StackLayout>
                    <ScrollView orientation="horizontal"
                        scrollBarIndicatorVisible="false">
                        <StackLayout orientation="horizontal">
                            <GridLayout *ngFor="let instance of instancelist"
                                height="90" width="70" rows="auto, auto">
                                <Image (longPress)="onLongPress(Instance)"
                                    row="0" col="0" src="~/images/icons/folder-7-64.png"
                                    height="60"></Image>
                                <Label row="0" [visibility]="selected ? 'visible' : 'collapsed'"
                                    borderRadius="100%" width="30" height="30"
                                    text="&#xf055;" fontSize="30"
                                    backgroundColor="white" color="#2E93F0"
                                    class="fa" textAlignment="center"
                                    verticalAlignment="bottom"
                                    horizontalAlignment="center" marginLeft="70"></Label>
                                <Label row="1" col="0" fontSize="12" [text]="instance">
                                </Label>
                            </GridLayout>
                        </StackLayout>
                    </ScrollView>
                    <StackLayout horizontalAlignment="center" orientation="horizontal">

                        <StackLayout>
                            <StackLayout (tap)="createInstanceDialog()"
                                margin="10" height="70" width="70"
                                backgroundColor="#fc4141" borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Label fontSize="35" color="#ffffff" text="+"
                                        borderRadius="20"></Label>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="Create Instance"></Label>
                        </StackLayout>
                        <StackLayout>
                            <StackLayout (tap)="deleteInstanceDialog()"
                                margin="10" height="70" width="70"
                                backgroundColor="#fc4141" borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Label fontSize="35" color="#ffffff" text="-"
                                        borderRadius="20"></Label>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="Delete Instance"></Label>
                        </StackLayout>
                        <StackLayout>
                            <StackLayout margin="10" height="70" width="70"
                                backgroundColor="#fc4141" borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Image src="~/images/shape4@2x.png"
                                        horizontalAlignment="center"
                                        marginTop="5" height="30" width="30"></Image>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="KeyPairs" marginBottom="80"></Label>
                        </StackLayout>

                    </StackLayout>


                </StackLayout>
            </StackLayout>
        </GridLayout>

        <AbsoluteLayout [ngSwitch]="OPTION" class="dialog-wrapper home-panel">

            <StackLayout *ngSwitchCase="'CREATE'" class="dialog">
                <Label class="h3" textWrap="true" text="Please select the options for your instance"></Label>
                <Label class="h3" textWrap="true" text="Operating System"></Label>
                <GridLayout class="select" horizontalAlignment="center" row="0"
                    marginTop="5" rows="*" columns="*,*,*">
                    <StackLayout col="0" class="test">
                        <Label marginTop="7" horizontalAlignment="center"
                            fontSize="15" #past text="Ubuntu" (tap)="selectos('ubuntu')"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="test">
                        <Label marginTop="7" horizontalAlignment="center"
                            fontSize="15" #present text="Red Hat" (tap)="selectos('redhat')"></Label>
                    </StackLayout>
                    <StackLayout col="2">
                        <Label marginTop="7" horizontalAlignment="center"
                            fontSize="15" #future text="AWS Linux" (tap)="selectos('awslinux')"></Label>
                    </StackLayout>
                </GridLayout>
                <Image margin="10" height="70" width="70" horizontalAlignment="center"
                    [src]="url"></Image>
                <Label class="h3" textWrap="true" text="No of Instances"></Label>
                <GridLayout class="m-15" rows="auto" columns="50 * 50">
                    <Label class="h3" text="0" textWrap="true" row="10" col="0"></Label>
                    <Slider minValue="0" maxValue="20" [(ngModel)]="sliderValue1"
                        row="0" col="1"></Slider>
                    <Label class="h3" text="20" textWrap="true" row="0" col="2"></Label>
                </GridLayout>

                <Label class="h3" textWrap="true" text="Key Name"></Label>
                <ScrollView class="select" orientation="horizontal"
                    scrollBarIndicatorVisible="false">
                    <StackLayout *ngFor="let keypair of keypairlist"
                        orientation="horizontal">
                        <Label class="test" fontSize="12" [text]="keypair"></Label>
                    </StackLayout>
                </ScrollView>

                <Label class="h3" textWrap="true" text="Instance Type"></Label>
                <GridLayout class="select" horizontalAlignment="center" row="0"
                    marginTop="5" rows="*" columns="*,*,*">
                    <StackLayout col="0" class="test">
                        <Label marginTop="7" horizontalAlignment="center"
                            fontSize="15" #past text="Ubuntu" (tap)="selectos('ubuntu')"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="test">
                        <Label marginTop="7" horizontalAlignment="center"
                            fontSize="15" #present text="Red Hat" (tap)="selectos('redhat')"></Label>
                    </StackLayout>
                    <StackLayout col="2">
                        <Label marginTop="7" horizontalAlignment="center"
                            fontSize="15" #future text="AWS Linux" (tap)="selectos('awslinux')"></Label>
                    </StackLayout>
                </GridLayout>
                <Label class="h3" textWrap="true" text="App Name"></Label>
                <GridLayout class="select" horizontalAlignment="center" row="0"
                    marginTop="5" rows="*" columns="*,*,*">
                    <StackLayout col="0" class="test">
                        <Label marginTop="7" horizontalAlignment="center"
                            fontSize="15" #past text="Ubuntu" (tap)="selectos('ubuntu')"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="test">
                        <Label marginTop="7" horizontalAlignment="center"
                            fontSize="15" #present text="Red Hat" (tap)="selectos('redhat')"></Label>
                    </StackLayout>
                    <StackLayout col="2">
                        <Label marginTop="7" horizontalAlignment="center"
                            fontSize="15" #future text="AWS Linux" (tap)="selectos('awslinux')"></Label>
                    </StackLayout>
                </GridLayout>
                <Label class="h3" textWrap="true" [text]="sliderValue1"></Label>
                <Button class="btn btn-primary" text="Create Instance" (tap)="CreateInstance(createInstance.text)">
                </Button>
                <Button class="btn btn-outline" text="Cancel" (tap)="closeDialog()"></Button>
            </StackLayout>
            <StackLayout *ngSwitchCase="'SUCCESS'" class="dialog">
                <Label class="h3" textWrap="true" text="SUCCESS"></Label>



                <Button class="btn btn-outline" text="Close" (tap)="closeDialog()"></Button>
            </StackLayout>


            <StackLayout *ngSwitchCase="'DELETE'" class="dialog">
                <Label class="h3" textWrap="true" text="Are you sure you want to delete the selected Instances"></Label>
                <Label class="h5" textWrap="true" text="Confirm that the Instances are empty before deleting"></Label>

                <Button class="btn btn-primary" (tap)="DeleteInstance()" text="Delete">
                </Button>
                <Button class="btn btn-outline" text="Cancel" (tap)="closeDialog()"></Button>
            </StackLayout>

        </AbsoluteLayout>
    </GridLayout>
</ScrollView>