<ActionBar title="App Icon Demo" flat="true">

</ActionBar>

<ScrollView class="page">

    <StackLayout class="home-panel">
        <Label style="horizontal-align:center;" fontSize="80" color="#000000"
            text="AWS EC2"></Label>
        <Label style="horizontal-align:center;" fontSize="15" marginTop="5"
            color="#bab8b8" text="Create/Start/Stop/Terminate Instances"></Label>
        <StackLayout horizontalAlignment="center" orientation="horizontal">

            <StackLayout>
                <StackLayout margin="10" height="70" width="70"
                    backgroundColor="#f77727" borderRadius="100">
                    <StackLayout marginTop="10" horizontalAlignment="center"
                        verticalAlignment="center">
                        <Label fontSize="35" color="#ffffff" text="+"
                            borderRadius="20"></Label>
                    </StackLayout>
                </StackLayout>
                <Label horizontalAlignment="center" fontSize="10" color="#000000"
                    text="Create Bucket"></Label>
            </StackLayout>
            <StackLayout>
                <StackLayout margin="10" height="70" width="70"
                    backgroundColor="#f77727" borderRadius="100">
                    <StackLayout marginTop="10" horizontalAlignment="center"
                        verticalAlignment="center">
                        <Label fontSize="35" color="#ffffff" text="-"
                            borderRadius="20"></Label>
                    </StackLayout>
                </StackLayout>
                <Label horizontalAlignment="center" fontSize="10" color="#000000"
                    text="Delete Bucket"></Label>
            </StackLayout>
            <StackLayout>
                <StackLayout margin="10" height="70" width="70"
                    backgroundColor="#f77727" borderRadius="100">
                    <StackLayout marginTop="10" horizontalAlignment="center"
                        verticalAlignment="center">
                        <Image src="~/images/shape4@2x.png"
                            horizontalAlignment="center" marginTop="5" height="30"
                            width="30"></Image>
                    </StackLayout>
                </StackLayout>
                <Label horizontalAlignment="center" fontSize="10" color="#000000"
                    text="KeyPairs"></Label>
            </StackLayout>

        </StackLayout>
    </StackLayout>
</ScrollView>