<ScrollView backgroundColor="#f9f9f9" orientation="vertical">
    <StackLayout>
        <GridLayout margin="5" columns="auto,*,auto" rows="auto">
            <Label class="fontmain" col="0" row="0" paddingLeft="10" fontSize="20"
                color="#9da2aa" text="awsapp"></Label>

            <Image col="2" row="0" src="~/images/icons/gear-2-64.png"
                horizontalAlignment="center" marginTop="5" marginRight="70"
                height="15" width="15"></Image>
            <Image col="3" row="0" src="~/images/icons/search-3-64.png"
                horizontalAlignment="center" marginTop="5"
                height="15" width="15"></Image>
        </GridLayout>
        <GridLayout marginLeft="5" marginBottom="5" columns="auto,*,auto"
            rows="auto">
            <Label col="0" row="0" class="font-weight-bold" paddingLeft="10"
                fontSize="40" color="#000000" text="Main Services"></Label>
        </GridLayout>
        <ScrollView marginLeft="10" orientation="horizontal">
            <StackLayout orientation="horizontal">

                <StackLayout borderRadius="100">
                    <StackLayout class="album-image" height="70" width="70"
                        backgroundImage="https://s3.ap-south-1.amazonaws.com/awsiconsng/s3-logo.png"
                        borderRadius="100">
                    </StackLayout>

                </StackLayout>
                <StackLayout margin="5">
                    <StackLayout class="album-image" height="70" width="70"
                        backgroundImage="https://s3.ap-south-1.amazonaws.com/awsiconsng/ec2-logo.png"
                        borderRadius="100">
                    </StackLayout>
                </StackLayout>
                <StackLayout margin="5">
                    <StackLayout class="album-image" height="70" width="70"
                        backgroundImage="https://s3.ap-south-1.amazonaws.com/awsiconsng/iam-logo.png"
                        borderRadius="100">
                    </StackLayout>
                </StackLayout>
                <StackLayout margin="5">
                    <StackLayout class="album-image" height="70" width="70"
                        backgroundImage="https://s3.ap-south-1.amazonaws.com/awsiconsng/cloudwatch-logo.png"
                        borderRadius="100">
                    </StackLayout>
                </StackLayout>
                <StackLayout margin="5">
                    <StackLayout class="album-image" height="70" width="70"
                        backgroundImage="https://s3.ap-south-1.amazonaws.com/awsiconsng/ec2-logo.png"
                        borderRadius="100">
                    </StackLayout>
                </StackLayout>
                <StackLayout margin="5">
                    <StackLayout class="album-image" height="70" width="70"
                        backgroundImage="https://s3.ap-south-1.amazonaws.com/awsiconsng/s3-logo.png"
                        borderRadius="100">
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ScrollView>
        <StackLayout margin="8" class="hr-light">
        </StackLayout>
        <GridLayout margin="10" columns="auto,*,auto" rows="auto">
            <Label col="0" row="0" class="font-weight-bold" paddingLeft="10"
                fontSize="30" color="#000000" text="AWS S3"></Label>
            <Label col="2" row="0" class="font-weight-bold" marginRight="20"
                marginTop="7" fontSize="15" color="#8d8d8d" text="View All"></Label>

        </GridLayout>
        <ScrollView orientation="horizontal">
            <StackLayout orientation="horizontal">
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#ff7070" borderRadius="100">
                        <StackLayout marginTop="8" height="55" width="55"
                            backgroundColor="#fc4141" borderRadius="100">
                            <StackLayout marginTop="5" horizontalAlignment="center"
                                verticalAlignment="center">
                                <Label fontSize="35" color="#ffffff" [text]="bucketcount"
                                    borderRadius="20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Buckets"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#ff7070" borderRadius="100">
                        <StackLayout marginTop="8" height="55" width="55"
                            backgroundColor="#fc4141" borderRadius="100">
                            <StackLayout marginTop="5" horizontalAlignment="center"
                                verticalAlignment="center">
                                <Label fontSize="35" color="#ffffff" text="3"
                                    borderRadius="20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Vaults"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#ff7070" borderRadius="100">
                        <StackLayout marginTop="8" height="55" width="55"
                            backgroundColor="#fc4141" borderRadius="100">
                            <StackLayout marginTop="5" horizontalAlignment="center"
                                verticalAlignment="center">
                                <Label fontSize="35" color="#ffffff" text="7"
                                    borderRadius="20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Regions"></Label>
                </StackLayout>

            </StackLayout>
        </ScrollView>
        <StackLayout margin="8" class="hr-light"></StackLayout>
        <GridLayout margin="10" columns="auto,*,auto" rows="auto">
            <Label col="0" row="0" class="font-weight-bold" paddingLeft="10"
                fontSize="30" color="#000000" text="AWS EC2"></Label>
            <Label col="2" row="0" class="font-weight-bold" marginRight="20"
                fontSize="14" color="#8d8d8d" text="View All"></Label>
        </GridLayout>
        <ScrollView orientation="horizontal">
            <StackLayout orientation="horizontal">
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#f78b47" borderRadius="100">
                        <StackLayout marginTop="8" height="55" width="55"
                            backgroundColor="#f77727" borderRadius="100">
                            <StackLayout marginTop="5" horizontalAlignment="center"
                                verticalAlignment="center">
                                <Label fontSize="35" color="#ffffff" text="7"
                                    borderRadius="20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Instances"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#f78b47" borderRadius="100">
                        <StackLayout marginTop="8" height="55" width="55"
                            backgroundColor="#f77727" borderRadius="100">
                            <StackLayout marginTop="5" horizontalAlignment="center"
                                verticalAlignment="center">
                                <Label fontSize="35" color="#ffffff" text="4"
                                    borderRadius="20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Keypairs"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#f78b47" borderRadius="100">
                        <StackLayout marginTop="8" height="55" width="55"
                            backgroundColor="#f77727" borderRadius="100">
                            <StackLayout marginTop="5" horizontalAlignment="center"
                                verticalAlignment="center">
                                <Label fontSize="35" color="#ffffff" text="3"
                                    borderRadius="20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Security Groups"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#f78b47" borderRadius="100">
                        <StackLayout marginTop="8" height="55" width="55"
                            backgroundColor="#f77727" borderRadius="100">
                            <StackLayout marginTop="5" horizontalAlignment="center"
                                verticalAlignment="center">
                                <Label fontSize="35" color="#ffffff" text="1"
                                    borderRadius="20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Load Balancers"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#f78b47" borderRadius="100">
                        <StackLayout marginTop="8" height="55" width="55"
                            backgroundColor="#f77727" borderRadius="100">
                            <StackLayout marginTop="5" horizontalAlignment="center"
                                verticalAlignment="center">
                                <Label fontSize="35" color="#ffffff" text="7"
                                    borderRadius="20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Regions"></Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>
        <StackLayout margin="8" class="hr-light"></StackLayout>
        <GridLayout margin="10" columns="auto,*,auto" rows="auto">
            <Label col="0" row="0" class="font-weight-bold" paddingLeft="10"
                fontSize="30" color="#000000" text="AWS IAM"></Label>
            <Label col="2" row="0" class="font-weight-bold" marginRight="20"
                fontSize="14" color="#8d8d8d" text="View All"></Label>
        </GridLayout>
        <ScrollView orientation="horizontal">
            <StackLayout orientation="horizontal">
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#6ba51c" borderRadius="100">
                        <StackLayout marginTop="8" height="55" width="55"
                            backgroundColor="#558217" borderRadius="100">
                            <StackLayout marginTop="5" horizontalAlignment="center"
                                verticalAlignment="center">
                                <Label fontSize="35" color="#ffffff" text="30"
                                    borderRadius="20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Users"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#6ba51c" borderRadius="100">
                        <StackLayout marginTop="8" height="55" width="55"
                            backgroundColor="#558217" borderRadius="100">
                            <StackLayout marginTop="5" horizontalAlignment="center"
                                verticalAlignment="center">
                                <Label fontSize="35" color="#ffffff" text="7"
                                    borderRadius="20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Regions"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#6ba51c" borderRadius="100">
                        <StackLayout marginTop="8" height="55" width="55"
                            backgroundColor="#558217" borderRadius="100">
                            <StackLayout marginTop="5" horizontalAlignment="center"
                                verticalAlignment="center">
                                <Label fontSize="35" color="#ffffff" text="7"
                                    borderRadius="20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Regions"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#6ba51c" borderRadius="100">
                        <StackLayout marginTop="8" height="55" width="55"
                            backgroundColor="#558217" borderRadius="100">
                            <StackLayout marginTop="5" horizontalAlignment="center"
                                verticalAlignment="center">
                                <Label fontSize="35" color="#ffffff" text="7"
                                    borderRadius="20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Regions"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#6ba51c" borderRadius="100">
                        <StackLayout marginTop="8" height="55" width="55"
                            backgroundColor="#558217" borderRadius="100">
                            <StackLayout marginTop="5" horizontalAlignment="center"
                                verticalAlignment="center">
                                <Label fontSize="35" color="#ffffff" text="7"
                                    borderRadius="20"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Regions"></Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>
        <StackLayout margin="8" class="hr-light"></StackLayout>
        <GridLayout margin="10" columns="auto,*,auto" rows="auto">
            <Label col="0" row="0" class="font-weight-bold" paddingLeft="10"
                fontSize="30" color="#000000" text="AWS CloudWatch"></Label>
            <Label col="2" row="0" class="font-weight-bold" marginRight="20"
                fontSize="14" color="#8d8d8d" text="View All"></Label>
        </GridLayout>
        <ScrollView orientation="horizontal">
            <StackLayout orientation="horizontal">
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#5cb3fd" borderRadius="100">
                        <StackLayout marginTop="10" horizontalAlignment="center"
                            verticalAlignment="center">
                            <Label fontSize="35" color="#ffffff" text="3"
                                borderRadius="20"></Label>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Servers"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#5cb3fd" borderRadius="100">
                        <StackLayout marginTop="10" horizontalAlignment="center"
                            verticalAlignment="center">
                            <Label fontSize="35" color="#ffffff" text="4"
                                borderRadius="20"></Label>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="Disks"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#5cb3fd" borderRadius="100">
                        <StackLayout marginTop="10" horizontalAlignment="center"
                            verticalAlignment="center">
                            <Label fontSize="35" color="#ffffff" text="56"
                                borderRadius="20"></Label>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="KeyPairs"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#5cb3fd" borderRadius="100">
                        <StackLayout marginTop="10" horizontalAlignment="center"
                            verticalAlignment="center">
                            <Label fontSize="35" color="#ffffff" text="56"
                                borderRadius="20"></Label>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="KeyPairs"></Label>
                </StackLayout>
                <StackLayout>
                    <StackLayout margin="10" height="70" width="70"
                        backgroundColor="#5cb3fd" borderRadius="100">
                        <StackLayout marginTop="5" horizontalAlignment="center"
                            verticalAlignment="center">
                            <Label fontSize="45" color="#ffffff" text=">"
                                borderRadius="20"></Label>
                        </StackLayout>
                    </StackLayout>
                    <Label horizontalAlignment="center" fontSize="10" color="#000000"
                        text="View More" marginBottom="40"></Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</ScrollView>