<ActionBar title="App Icon Demo" flat="true">

</ActionBar>

<ScrollView backgroundColor="#f9f9f9" orientation="vertical">
    <GridLayout class="page" [class.dialogOpen]="dialogOpen">
        <GridLayout class="content">
            <StackLayout>
                <StackLayout>
                     <Image src="~/images/image_pie_semicircledonut.png"
                        horizontalAlignment="center" marginTop="5" ></Image>

                    <Label style="horizontal-align:center;" fontSize="80"
                        color="#000000" text="AWS IAM">
                    </Label>
                    <Label style="horizontal-align:center;" fontSize="15"
                        marginTop="5" color="#bab8b8" text="Create/Delete Buckets or Upload files to Buckets"></Label>
                    <Label style="horizontal-align:center;" fontSize="10"
                        margin="15" color="#000000" text="USERS"></Label>
                    <ScrollView *ngFor="let user of userlist">
                        <GridLayout rows="*" columns="*,*">


                            <Label col="0" row="0" [text]="user" marginLeft="40"></Label>
                            <Label col="1" row="0" text="Label (no binding)"></Label>
                        </GridLayout>
                    </ScrollView>
                    <StackLayout horizontalAlignment="center" orientation="horizontal">

                        <StackLayout>
                            <StackLayout (tap)="createBucketDialog()" margin="10"
                                height="70" width="70" backgroundColor="#fc4141"
                                borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Label fontSize="35" color="#ffffff" text="+"
                                        borderRadius="20"></Label>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="Create User"></Label>
                        </StackLayout>
                        <StackLayout>
                            <StackLayout (tap)="deleteBucketDialog()" margin="10"
                                height="70" width="70" backgroundColor="#fc4141"
                                borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Label fontSize="35" color="#ffffff" text="-"
                                        borderRadius="20"></Label>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="Delete User"></Label>
                        </StackLayout>
                        <StackLayout>
                            <StackLayout margin="10" height="70" width="70"
                                backgroundColor="#fc4141" borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Image src="~/images/shape4@2x.png"
                                        horizontalAlignment="center"
                                        marginTop="5" height="30" width="30"></Image>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="KeyPairs"></Label>
                        </StackLayout>

                    </StackLayout>
                    <Label style="horizontal-align:center;" fontSize="10"
                        margin="15" color="#000000" text="GROUPS"></Label>
                    <ScrollView *ngFor="let group of grouplist">
                        <GridLayout rows="*" columns="*,*">


                            <Label col="0" row="0" [text]="group" marginLeft="40"></Label>
                            <Label col="1" row="0" text="Label (no binding)"></Label>
                        </GridLayout>
                    </ScrollView>
                    <StackLayout horizontalAlignment="center" orientation="horizontal">

                        <StackLayout>
                            <StackLayout (tap)="createBucketDialog()" margin="10"
                                height="70" width="70" backgroundColor="#fc4141"
                                borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Label fontSize="35" color="#ffffff" text="+"
                                        borderRadius="20"></Label>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="Create Group"></Label>
                        </StackLayout>
                        <StackLayout>
                            <StackLayout (tap)="deleteBucketDialog()" margin="10"
                                height="70" width="70" backgroundColor="#fc4141"
                                borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Label fontSize="35" color="#ffffff" text="-"
                                        borderRadius="20"></Label>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="Delete Group"></Label>
                        </StackLayout>
                        <StackLayout>
                            <StackLayout margin="10" height="70" width="70"
                                backgroundColor="#fc4141" borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Image src="~/images/shape4@2x.png"
                                        horizontalAlignment="center"
                                        marginTop="5" height="30" width="30"></Image>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="KeyPairs"></Label>
                        </StackLayout>

                    </StackLayout>
                    <Label style="horizontal-align:center;" fontSize="10"
                        margin="15" color="#000000" text="ROLES"></Label>

                    <StackLayout horizontalAlignment="center" orientation="horizontal">

                        <StackLayout>
                            <StackLayout (tap)="createBucketDialog()" margin="10"
                                height="70" width="70" backgroundColor="#fc4141"
                                borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Label fontSize="35" color="#ffffff" text="+"
                                        borderRadius="20"></Label>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="Create Bucket"></Label>
                        </StackLayout>
                        <StackLayout>
                            <StackLayout (tap)="deleteBucketDialog()" margin="10"
                                height="70" width="70" backgroundColor="#fc4141"
                                borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Label fontSize="35" color="#ffffff" text="-"
                                        borderRadius="20"></Label>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="Delete Bucket"></Label>
                        </StackLayout>
                        <StackLayout>
                            <StackLayout margin="10" height="70" width="70"
                                backgroundColor="#fc4141" borderRadius="100">
                                <StackLayout marginTop="10"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Image src="~/images/shape4@2x.png"
                                        horizontalAlignment="center"
                                        marginTop="5" height="30" width="30"></Image>
                                </StackLayout>
                            </StackLayout>
                            <Label horizontalAlignment="center" fontSize="10"
                                color="#000000" text="KeyPairs" marginBottom="80"></Label>
                        </StackLayout>

                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </GridLayout>

        <AbsoluteLayout margin="10" [ngSwitch]="OPTION" class="dialog-wrapper home-panel">
            <StackLayout *ngSwitchCase="'DELETE'" class="dialog">
                <Label class="h3" textWrap="true" text="Please select the buckets you want to delete"></Label>
                <Label class="h5" textWrap="true" text="Confirm that the buckets are empty before deleting"></Label>

                <Button class="btn btn-primary" text="Share">
                </Button>
                <Button class="btn btn-outline" text="Cancel" (tap)="closeDialog()"></Button>
            </StackLayout>
            <StackLayout *ngSwitchCase="'CREATE'" class="dialog">
                <Label class="h3" textWrap="true" text="Please enter the name of the Bucket you want to create"></Label>
                <TextField #createbucket hint="Bucket Name" class="input input-border"></TextField>
                <Button class="btn btn-primary" text="Create Bucket" (tap)="CreateBucket(createbucket.text)"></Button>
                <Button class="btn btn-outline" text="Cancel" (tap)="closeDialog()"></Button>
            </StackLayout>
            <StackLayout *ngSwitchCase="'SUCCESS'" class="dialog">
                <Label class="h3" textWrap="true" text="SUCCESS"></Label>



                <Button class="btn btn-outline" text="Close" (tap)="closeDialog()"></Button>
            </StackLayout>
        </AbsoluteLayout>
    </GridLayout>
</ScrollView>